<br>
<div class='form-header'>
	<h2>Please enter invoice information</h2>
</div>

<form method = 'post' action = '/'>

	<div class="form-field">
		<label for='customerName'>Name of the customer the invoice was raised against</label>
		<input class='input' id='customerName' name='customerName' type='text' value='<%= data.customerName %>' >
	</div>

	<div class="form-field">
		<label for='invoiceValue'>Invoice value</label>
		<input class='input' id='invoiceValue' name='invoiceValue' type='text' value='<%= data.invoiceValue %>' >
	</div>

	<div class="form-field">
		<label for='dateToPay'>Date invoice should be paid by (DD/MM/YYYY) </label>
		<input class='input' id='dateToPay' name='dateToPay' type='text' value='<%= data.dateToPay %>' >
	</div>

	<div class="form-field">
		<label for='datePaid'>Date Paid (DD/MM/YYYY) </label>
		<input class='input' id='datePaid' name='datePaid' type='text' value='<%= data.datePaid %>' >
	</div>

	<div class="form-field">
		<label for='serviceDescription'>Description of the service the invoice was for</label>
		<textarea class='input' id='serviceDescription' name='serviceDescription' rows='3' autofocus><%= data.serviceDescription %></textarea>
	</div>

	<input type="hidden" id='id' name='id' value="<%= data.id%>">

	<div class='form-actions'>
		<button class='btn0' type='submit'>Submit</button>
		<a href="http://localhost:9090/" class="btn0">Cancel</a>
	</div>

</form>



