<br>
<h1>Summary of Invoices</h1>

<table>
   	<tr>
      	<th>Customer Name</th>
      	<th>Invoice Value</th>
      	<th>Date to Pay</th>
      	<th>Paid?</th>
      	<th>Date Paid</th>
      	<th>Service Description</th>
      	<th colspan="2">Actions</th>
   	</tr>

   	<% for (var i = 0; i < data.length;  i++) { %>
	    <tr>
	      	<td><%= data[i].customerName %></td>
	      	<td><%= data[i].invoiceValue %></td>
	      	<td><%= data[i].dateToPay %></td>
	      	<td class="center">
		      	<%if ( data[i].datePaid  == 0) {%>
		      		<img class ="small" src="cross.png" />
		      	<% } else { %>
		      		<img class ="small" src="tick.png" />
		      	<% } %>      
	      	</td>
	      	<td><%= data[i].datePaid %></td>
	      	<td><%= data[i].serviceDescription %></td>
	      	<td>
		      	<form class="hidden" action="/form" method="post">
			  		<input type="hidden" id='customerName' name='customerName' value="<%= data[i].customerName%>">
				  	<input type="hidden" id='invoiceValue' name='invoiceValue' value="<%= data[i].invoiceValue%>">
				  	<input type="hidden" id='dateToPay' name='dateToPay' value="<%= data[i].dateToPay%>">
				  	<input type="hidden" id='datePaid' name='datePaid' value="<%= data[i].datePaid%>">
				  	<input type="hidden" id='serviceDescription' name='serviceDescription' value="<%= data[i].serviceDescription%>">
				  	<input type="hidden" id='id' name='id' value="<%= data[i].id%>">

			      	<% if (i%2 == 0) {%>
			        	<button class='btn2' type='submit' id="Button <%=i%>">Edit</button>
			      	<% } else {%>
			        	<button class='btn1' type='submit' id="Button <%=i%>">Edit</button>
			      	<% } %>
		      	</form>
	      	</td>
	      	<td>
		      	<form class="hidden" action="/delete/<%= data[i].id %>" method="get">
			      	<% if (i%2 == 0) {%>
			        	<button class='btn2' type='submit' id="Button <%=i%>">Delete</button>
			      	<% } else {%>
			        	<button class='btn1' type='submit' id="Button <%=i%>">Delete</button>
			      	<% } %>
		      	</form>
	      	</td>
	    </tr>    
   	<% } %>
</table>

<br>
<a href="http://localhost:9090/form" class="btn0">Add</a>

