:root {
    --dark-blue-color: #C2D4DD;
    --light-blue-color: #DCEEF7; 
    --green-color: #ddeedd;
    --pink-color: #f0efef;
    --dark-purple-color: #b0aac0;
    --light-purple-color: #E3DDF3;
}

html {
  height: 100%;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: top;
  min-height: 100%;
  margin: 0;
  background: var(--pink-color);
  font-family: -apple-system, 'Segoe UI', sans-serif;
}
* {
  box-sizing: border-box;
}
h2 {
  margin: 0 0 1em;
  font-size: 20px;
}
h1 {
  margin: 0 0 1em;
  font-size: 20px;
  text-align: center;
}

img.small {
    width: 12px;
    height: auto;
}

.form-header {
  width: 100%;
  max-width: 400px;
}
form {
  width: 100%;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background: var(--dark-purple-color);
  border: 1px solid rgba(0,0,0,.1);
  border-color: rgba(0,0,0,.05) rgba(0,0,0,.08) rgba(0,0,0,.1);
  border-radius: 3px;
  box-shadow: 0 3px 4px rgba(0,0,0,.05);
}
form.hidden {
  width: 100%;
  padding: 0px;
  border: none;
}
form.inText {
  width: 100%;
  padding: 0px;
  border: none;
  background: var(--pink-color);
}
label.inText {
  display: inline-block;
  padding: 0px;
  border: none;
  background: var(--pink-color);
  text-transform: none;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 0px;
  color: black;
}

label {
  display: block;
  padding-bottom: 3px;
  font-size: 12px;
  font-weight: bold;
  color: #555;
  text-transform: uppercase;
}
textarea { 
  resize: vertical; 
}
.input {
  width: 100%;
  margin-bottom: 5px;
  padding: 10px;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 3px;
  background: var(--pink-color);
  font: inherit;
}
.input:focus {
  outline: none;
  border-color: rgba(0,0,0,.3);
}
.form-field {
  margin-bottom: 10px;
}
.error, .errors-list {
  font-size: 14px;
  color: #C00;
}
.errors-list {
  margin: 0 0 1.5em;
  padding: 0 0 0 15px;
}
.form-field-invalid .input {
  border-color: #C00;
}
.form-actions {
  margin-top: 20px;
}
.btn0 {
  display: inline-block;
  text-decoration: none;
  text-align: center;
  width: 49%;
  padding: 10px;
  background: var(--dark-blue-color);
  border: 1px solid rgba(0,0,0,.1);
  border-width: 1px 1px 3px;
  border-radius: 3px;
  font: inherit;
  color: #555;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
}
.btn0:hover,
.btn0:focus {
  outline: none;
  background: var(--light-blue-color);
}
.btn0:active {
  transform: translateY(1px);
}
.btn1 {
  display: block;
  width: 100%;
  background: var(--light-blue-color);
  border: none;
  font: inherit;
  color: #000080;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
  outline: none;
}
.btn1:hover,
.btn1:focus {
  outline: none;
  color: #FF0000;
}
.btn1:active {
  transform: translateY(1px);
}
.btn2 {
  display: block;
  width: 100%;
  background: var(--light-purple-color);
  border: none;
  font: inherit;
  color: #000080;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
  outline: none;
}
.btn2:hover,
.btn2:focus {
  outline: none;
  color: #FF0000;
}
.btn2:active {
  transform: translateY(1px);
}
.btn3 {
  display: inline-block;
  width: 100%;
  background: var(--pink-color);
  border: none;
  font: inherit;
  color: #000080;
  cursor: pointer;
  text-shadow: 0 1px 0 rgba(0,0,0,.3), 0 1px 1px rgba(0,0,0,.2);
  outline: none;
}
.btn3:hover,
.btn3:focus {
  outline: none;
  color: #FF0000;
}
.btn3:active {
  transform: translateY(1px);
}
.flash {
  padding: 15px 20px;
  border: 1px solid;
  border-radius: 3px;
}
.flash-success {
  background-color: #d4edda;
  border-color: #c3e6cb;
  color: #155724;
}
table, th, td {
    border: 2px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
}
table {
    width: 90%;
}
th {
    text-align: center;
}
td {
    text-align: left;
    vertical-align: top;
}
td.center {
    text-align: center;  
}
tr:nth-child(even) {
  background-color: var(--light-purple-color);
}
tr:nth-child(odd) {
  background-color: var(--light-blue-color);
}